#register{
   background:url(/images/regbg.jpg) no-repeat;
   background-size:100% 100%;
    overflow: hidden;
    .app-header{
        background: #DEDEDD;
    }
    .iconfont{                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     
        font-size: 20px;
        color:#999999;
    }
    .emailcenter {
        height: 100%;
        width: 348px;
        margin:0 auto;
        .inpemail{
           height: 47px;
           width: 300px;
           border-radius: 5px;
           background: #fff;
           margin: 0 auto;
           margin-top:156px;
           line-height: 47px;
           input{
            width: 270px;
            height: 100%;
            color:#C8C7C7;
            font-size:18px;
            margin-left:15px;
           }
        }
        .inpmine{
            height: 47px;
           width: 300px;
           border-radius: 5px;
           background: #fff;
           margin: 0 auto;
           margin-top:15px;
           line-height: 47px;
           input{
            width: 270px;
            height: 46px;
            color:#C8C7C7;
            font-size:18px;
            margin-left:15px;
           }
        }
        .inppassword{
            height: 47px;
            width: 300px;
            border-radius: 5px;
            background: #fff;
            margin: 0 auto;
            margin-top:15px;
            line-height: 47px;
            color:#C8C7C7;
            input{
                width: 270px;
                height: 46px;
                color:#C8C7C7;
                font-size:18px;
                margin-left:15px;
               }
        }
        .inpregister{
            height: 47px;
            width: 300px;
            border-radius: 5px;
            background: #68CECE;
            margin: 0 auto;
            margin-top:15px;
            text-align: center;
            line-height: 47px;
            color:#fff;
        }
        .nonepass{
            height: 14px;
            width: 100%;
            text-align: center;
            margin-top:34px;
            color: #fff;
            font-size: 14px;
        }
        .okregister{
            height: 14px;
            width: 100%;
            text-align: center;
            margin-top:126px;
            color: #fff;
            font-size: 14px;
            p{
                color: #fff;   
            }
        }
    }
}